/* Шрифт Азы: Corinthia = GreatVibes */
@font-face {
  font-family: 'Corinthia';
  src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Шрифт Эла: Comforter */
@font-face {
  font-family: 'Comforter';
  src: url('/fonts/ofont_ru_Comforter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Шрифт Зираэллы: Agretta Hills (Cyrillic Script) */
@font-face {
  font-family: 'Agretta';
  src: url('/fonts/Ira-Dvilyuk-Agretta-Hills-Cyrillic-Script.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}